.LoginButton {
  padding: 10px 20px;
  margin-top: 30px;
  outline: none;
  border: none;
  /* font-size: medium; */
  font-weight: 600;
  /* letter-spacing: 5px; */
  border-radius: 5px;
  cursor: pointer;
  background-color: #FF4641;
  color: white;
}

.LoginContainer {
  width: 40%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Montserrat', sans-serif;
}

.LoginBox {
  display: flex;
  flex-direction: row;
}

.LoginBox {
  /* background-color: blue; */
  width: 100%;
  height: 60%;
  background-color: #EAF4F4;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Image {
  height: 100%;
}

.FormBox {
  padding: 50px 100px;
  /* font-size: 50px; */
  color: #232D41;
  text-align: center;
  width: 100%;
}

.Input {
  margin-bottom: 30px;
  padding: 2px 0px;
  padding-bottom: 5px;
  background-color: transparent;
  border: none;
  outline: none;
  border-bottom: 1.5px solid;
  border-bottom-color: #232D41;
  color: #232D41;
  /* opacity: 0.55; */
  /* width: 250px; */
};

.FacebookImg {
  width: 100;
  height: 100;
}

.LoginButton:active {
  transform: translateY(2px);
}

.SingupBox {
  width: 100%;
  padding: 50px 100px;
}

.CloseButtonBox {
  width: 100%;
  display: flex; 
  justify-content: flex-end;
}

.CloseButton {
  background-color: transparent;
  outline: none;
  border: none;
  color: #FF4641;
}